<nav class="col-md-2 d-none d-md-block sidebar" style="background-color: slateblue; position: fixed; height: 100%;">
    <div class="sidebar-sticky">
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link text-dark fw-bold" href="#">
            <i class="fas fa-chart-line fa-lg me-3 fa-fw"></i>
            Dashboard
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark fw-bold" href="#">
            <i class="fas fa-users-cog fa-lg me-3 fa-fw"></i>
            Admin
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark fw-bold" href="#">
            <i class="fas fa-user fa-lg me-3 fa-fw"></i>
            Users
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark fw-bold" href="#">
            <i class="fas fa-solid fa-receipt fa-lg me-3 fa-fw"></i>
            Accounts
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark fw-bold" href="#">
            <i class="fas fa-coins fa-lg me-3 fa-fw"></i>
            Transactions
          </a>
        </li>
        
      </ul>

      
    </div>
  </nav>