<!-- <nav class="col-md-2 d-none d-md-block sidebar" style="background-color: slateblue; min-height: calc(100vh - 56px);"> -->
    <!-- <div class="sidebar-sticky"> -->
      <ul class="sidebar navbar-nav" style="background-color: slateblue; min-height: calc(100vh - 56px);">
        <li class="nav-item">
          <a class="nav-link text-dark fw-bold" href="/admin/Dashboard">
            <i class="fas fa-chart-line fa-md fa-fw"></i>
            Dashboard
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark fw-bold" href="/admin/subAdminList">
            <i class="fas fa-users-cog fa-md fa-fw"></i>
            Admin
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark fw-bold" href="/admin/users">
            <i class="fas fa-user fa-md fa-fw"></i>
            Users
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark fw-bold" href="/admin/accounts">
            <i class="fas fa-solid fa-receipt fa-md fa-fw"></i>
            Accounts
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark fw-bold" href="/admin/transactions">
            <i class="fas fa-coins fa-md fa-fw"></i>
            Transactions
          </a>
        </li>
        
      </ul>
    
  </nav>