<%- partial('../partials/nav.ejs') %>
<%- partial('../partials/flash.ejs') %>
<div class="container">
    <div class="form-title-member text-center">
        <h2 class="text-dark my-5">Add Member</h2>
    </div>
    <form class="row" action="/home/addmember/<%= record.id %> " method="post">
        <div class="col-md-8">
          <input type="email" class="form-control" id="inputPassword2" name="email"  placeholder="Enter email ..." required>
        </div>
        <div class="col-md-4">
          <button type="submit" class="btn btn-primary mb-3">Add</button>
        </div>
    </form>
</div>