<div class="container">
    <div class="form-title-signup text-center">
        <h2 class="text-dark my-5">Add Transaction Form</h2>
      </div>
      <form action="" method="post">
       
      </form>
</div>