<div class="container">
    <h2 class="my-5">All Accounts</h2>
<form class="row" action="/home/addaccount" method="post">
        <div class="col-md-8">
          <input type="text" class="form-control" id="inputPassword2" name="accountname" placeholder="Enter new account name">
        </div>
        <div class="col-md-4">
          <button type="submit" class="btn btn-primary mb-3">Create Account</button>
        </div>
</form>
<table class="table">
    <thead class="thred-dark">
        <tr>
            <th scope="col">Account-Name</th>
            <th colspan="3" class="text-center">Action</th>
        </tr>
    </thead>
    <tbody>
        <% if(result.accounts.length > 0) { result.accounts.forEach(function(data) { %> 
        <tr> 
            <td>
                <%= data.accountname %> 
            </td>
            <td>
                <a href="/home/updateaccount/<%= data.id %>" class="link-info"><i class="far fa-edit">Edit</i></a>                                 
            </td>
             <td>
                <a href="/home/deleteaccount/<%= data.id %>" class="link-danger"><i class="fas fa-trash ps-4">Delete</i></a>
             </td>  
            <td>
                <a href="/home/account/<%= data.id %>" class="btn btn-primary btn-sm mx-4"  type="submit" role="button">More Details <i class="fas fa-angle-double-right"></i></a>
            </td>
        </tr>
        <% }) %>
        <% } else { %>
            <tr>
                <td class="text-center text-danger" colspan="4">Oops... There isn't any account for this user.
                    <br />Please create an account first by filling the form located above table<br /><br/>
                </td>
            </tr>
        <% } %> 

</tbody>
</table>
</div>