<div class="container">
<div class="form-title-member text-center">
    <h2 class="text-dark my-5">Update Account</h2>
</div>
<form class="row" action="/home/addaccount" method="post">
    <div class="col-md-8">
      <input type="text" class="form-control" id="inputPassword2" name="accountname" placeholder="Update account name">
    </div>
    <div class="col-md-4">
      <button type="submit" class="btn btn-primary mb-3">Update Account</button>
    </div>
</form>
</div>