<%- partial('../../partials/adminsidenav.ejs') %>
<div class="container-fluid">
  <div class="row">

    
      
      <div
        class="d-flex justify-content-center flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom"
      >
        <h1 class="h2">Dashboard</h1>
      </div>
      <br><br>
      <style>
        .box {
          width: 88%;
          height: 130px;
          background-color: #e3e3e3;
          margin-left: 10px;
          padding: 10px;
          box-shadow: 2px 5px 10px #ddd;
          position: relative;
          border-radius: 15px;
        }
        .box p {
          color: #042b90;
          font-weight: 500;
          padding-left: 10px;
        }
        .number {
          font-size: 35px;
          margin-bottom: 0px;
          margin-top: 20px;
        }
        .head-1 {
          font-size: 18px !important;
          margin: 10px 0px;
          color: #6c7293;
        }
        .box-icon {
          font-size: 20px !important;
          margin-top: 35px !important;
          color: #fec908;
          padding-right: 10px;
          background-color: #efeff5;
          padding: 15px;
          border-radius: 25px;
          position: absolute;
          right: 16px;
          top: -18px;
        }
      </style>
      <div class="row pt-5">
        <div class="col col-md-2"></div>
        <div class="col col-div-4-1">
          <div class="box">
            <p class="head-1">Total Users</p>
            <p class="number">67343</p>
            <i class="fas fa-users box-icon"></i>
          </div>
        </div>
        <div class="col col-div-4-1">
          <div class="box">
            <p class="head-1">Total Accounts</p>
            <p class="number">2343</p>
            <i class="fas fa-file-invoice box-icon"></i>
          </div>
        </div>
        <div class="col col-div-4-1">
          <div class="box">
            <p class="head-1">Total Transactions</p>
            <p class="number">35343</p>
            <i class="fas fa-coins box-icon"></i>
          </div>
        </div>
      </div>
      <br><br>
      <div class="clearfix"></div>

      
    
  </div>
</div>